
#basis {
    display: flex;
    flex-direction: column;
}

#basis p {
    color: var(--color-neutral-0);
    margin-bottom: 24px;
}

#basis .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    height: fit-content;
    max-height: 550px;
}

#basis .grid .image {
    max-height: 50%;
}

#basis .grid img {
    max-height: 100%;
}

#basis .grid .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;

    min-height: fit-content;
    max-height: 28rem;


    padding-top: 24px;
    gap: 24px;
    font-size: 1.2rem;

    color: var(--color-neutral-0);
}

#basis .grid .text .title {
    font-size: 36px;
}

@media screen and (max-width: 1170px) {

    #basis .grid {
        display: flex;
        flex-direction: column-reverse;
        max-height: fit-content;
        gap: 24px;
    }

    #basis .grid .text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: justify;
    }

    #basis img {
        max-width: 100%;
    }
}